.header{
	padding: 20px 0;
	background-color: #191919;
}
.header-content{
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}
.header-content-logo{
	width: calc(100% - 200px);
}
.header-content-nav{
	width: 120px;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-moz-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	-o-justify-content: flex-end;
	justify-content: flex-end;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.header-content-nav .mobile__nav__btn{
	margin-left: 15px;
}

.header-content-nav-cart{
	color: #9f9f9f;
}
.header-content-nav-cart>span{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -6px;
	right: -6px;
	background-color: #44b4f8;
	font-size: 10px;
	font-weight: bold;
}